RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "*"